body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
dl
{
    margin-top: 0;
}

.dl-horizontal dt {
    white-space: normal;
}

.list-group > a.list-group-item.new
{
   background-color: #fffadf;
}

caption
{
    text-align: left;
    color :Red
}

h1
{
    font-weight: lighter;
}